* {
    line-height: 1.2rem;
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'open sans';
}
body {
    display: block;
    align-items: center;
    justify-content: center;
}
.nav_container {
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #da2626;
    position: fixed;
    z-index: 99;
}
.icon1 {
    display: flex;
    float: left;
    background-color: #000033;
    color: white;
    z-index: 1;
    position: relative;
    top: 0;
    width: 50px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
}
.icon2 {
    clear: left;
    display: flex;
    float: right;
    background-color: #000033;
    position: relative;
    top: -60px;
    color: white;
    width: 50px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
}

.navbar {
    display: flex;
    position: relative;
    top: -16px;
    width: 60%;
}
.menu_item {
    display: flex;
    align-items: center;
}
.nav_list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 40px;
    font-family: 'roboto', serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 4px;
}
.list_link {
    color: aliceblue;
    text-decoration: none;
    flex: 1;
    height: 20px;
    letter-spacing: 1.7px;
}
.list_link:hover {
    color: #4747c2;
    margin-bottom: 10px;
}
.nav_brand {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #da2626;
    border-radius: 50%;
    padding: 40px;
    color: aliceblue;
    font-size: 18px;
    border-bottom: 2px solid aliceblue;
}
.text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 1px;
    padding: 2px;
}
.hero_container {
   display: block;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 100%;
}
.banner {
  display: block;
  align-items: center;
  justify-content: center;
}
.banner  img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 2;
}
.hero_content {
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 46%;
    left: 26%;
}

.hero_txt {
    display: block;
    font-size: 2.9rem;
    line-height: 1em;
    letter-spacing: 1.8px;
    color: #000033;
} 

.buttons {
    position: relative;
    left: 2px;
    padding-top: 30px;
}

button {
    border: none;
    width: 120px;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
}

.btn1 {
  text-transform: uppercase;
  background-color: #da2626;
  color: aliceblue;
}
.btn2 {
  text-transform: uppercase;
  color: #000033;
  padding-left: 10px;
}
.main {
    display: block;
    height: fit-content;
}
.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -80px;
    height: 330px;
    width: 60%;
    border: 3px solid #7373df;
    border-radius: 50px;
    background-color: white;
}
.main_content {
    display: flex;
    align-items: center;
}

.content_text {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 90px;
}

.main_text {
    display: flex;
    position: relative;
    top: -30px;
    font-size: 27px;
}
hr{
    position: relative;
    top: -20px;
    right: 158px;
    width: 45px;
    border: none;
    border-radius: 20%;
    background-color: #da2626;
    padding: 2.4px;
}
.content_text p {
    position: relative;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
}

.btn3 {
    color: aliceblue;
    background-color: #000033;
    margin-top: 20px;
    padding: 15px;
    text-transform: uppercase;
    font-size: .8rem;
}
.main_img1 {
    position: relative;
    width: 300px;
    height: 180px;
    top: 13px;
    left: -14px;
    z-index: 2;
}
.main_img2 {
    position: relative;
    width: 160px;
    height: 90px;
    top: 10px;
    left: -30px;
}

.alpha_container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 400px;
    position: relative;
    top: -38px;
}

.alpha_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.alpha_img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    position: relative;
    left: 10px;
}
.alpha_img img {
    width: 500px;
    height: 340px;
}

.alpha_text {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -80px;
    margin-left: 40px;
    margin-right: 50px;
}

.alpha_text h3{
    display: block;
    position: relative;
    top: -11px;
    font-size: 24px;
    line-height: 1em;
}

.span_txt {
    margin: 4px;
}
.alpha_text p {
    position: relative;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
}

.info_container {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 55px;
    width: 90%;
}
.info_content {
    display: block;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.info_content h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 1px;
}
.info_content p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 400;
}

.cards_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94%;
    height: 430px;
    background-image: url(../images/cards_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 20px;
    border-radius: 130px;
}

.cards_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards {
   display: block;
   align-items: center;
   justify-content: space-evenly;
   background-color: aliceblue;
   width: 250px;
   height: 250px;
   margin: 14px;
   padding: 20px;
   border-radius: 10px;
}

.cards_img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
}

.cards_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 28px;
    font-size: 17px;
}
.cards p {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 32px;
    margin-left: 60px;
    margin-right: 50px;
    font-size: 14px;
}
.btn4 {
   display: block;
   align-items: center;
   justify-content: center;
   position: relative;
   top: 48px;
   background-color: #000033;
   color: aliceblue;
   text-transform: uppercase;
   font-size: .8rem;
}
.btn5 {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 48px;
    background-color: #da2626;
    color: aliceblue;
    text-transform: uppercase;
    font-size: .8rem;
}

.grid_container {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 140px;
    padding-bottom: 30px;
}
.grid_text {
    display: block;
    align-items: center;
    justify-content: center;
}

.grid_header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
}

.grid_text p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 210px;
}

.main_grid {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 90%;
}
.grid_content {
    display: flex;
    grid-row: 20px;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex: 1;
    gap: 20px;
}
.grid{
    display: block;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 360px;
    background-color: whitesmoke;
}

.grid_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    margin: 12px;
    position: relative;
    left: 0px;
}

.grid h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.grid hr {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #da2626;
    width: 20%;
    position: relative;
    top: 2px;
    left: 1px;
}
.grid p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
}

.grid_btn {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 12px;
    background-color: #000033;
    color: aliceblue;
    text-transform: uppercase;
    font-size: .8rem;
}

.comment_container {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 170px;
}

.comment_txt h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: .5px;
    padding: 20px;
}

.comment_grids {
    display: block;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.comment_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
    width: 70%;
    padding: 20px;
}

.comment {
    display: block;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 340px;
    background-color: whitesmoke;
    padding: 20px;
}
.comment_img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.comment p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
    margin-left: 20px;
    margin-right: 20px;
}

.quotes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    top: 12px;
}

.update_container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 250px;
}

.update_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.update_header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
} 
.update_content {
    background-image: url(../images/footer_img.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    position: relative;
    top: 37px;
}
.update_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 36%;
    width: 17%;
    font-size: 16px;
    font-weight: 600;
    background-color: #003366;
    color: aliceblue;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 12px;
}

.footer_section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    height: 400px;
    position: relative;
    width: 100%;
    top: 287px;
    color: white;
}

.footer_content {
    display: block;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 14px;
    position: relative;
    top: -30px;
    margin: 300px;
}

.footer_grid {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
}

.footer_resources{
    display:  block;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 160px;
    padding: 20px;
    margin: 4px;
    position: relative;
    right: 6%;
}
.footer_about {
    display:  block;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 160px;
    padding: 20px;
    margin: 4px; 
}
.footer_contact {
    display:  block;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 160px;
    padding: 20px;
    margin: 4px;
    position: relative;
    left: 7%;
}
.footer_countries {
    display:  block;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 160px;
    padding: 20px;
    margin: 10px;
    position: relative;
    left: 12%;
}
.country_img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    width: 190px;
    height: 120px;
}
.footer_header {
    text-transform: uppercase;
    font-size: 15px;
}

.list {
    display: block;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-top: 6px;
}

.footer {
    display: block;
    width: 400px;
}
.footer p{
 padding-top: 8px;
}

ion-icon {
    font-size: 18px;
    padding-top: 8px;
    color: white;
}

.rights {
    display: flex;
    width: 45%;
    color: grey;
    font-size: 15px;
    text-decoration: underline;
}

.rights_img {
    width: 17px;
    height: 17px;
    color: grey;
}
@media screen and (max-width: 768px){
    * {
        line-height: 1rem;
    }
    .nav_container {
        position: relative;
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 45vh;
    }
    .navbar {
        display: block;
        position: relative;
        top: -16px;
        width: 30%;
    }
    .icon1 {
        width: 80px;
        height: 60px;
        font-weight: 900;
        font-size: 23px;
    }
    .icon2 {
        width: 80px;
        height: 60px;
        font-weight: 900;
        font-size: 23px;
    }
    .menu_item {
        display: block;
        align-items: center;
    }
    .nav_list {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 100px;
    }
    .list_link {
        display: block;
        padding-top: 2px;
        margin-top: 12px;
        line-height: 2px;
        letter-spacing: 1.7px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 900;
        position: relative;
        left: 20px;
        top: 20px;
    }
    .nav_brand {
        display: flex;
        position: absolute;
        bottom: 190px;
        width: 100px;
        height: 90px;
        font-size: 13px;
        letter-spacing: 1.2px;
    }
    .hero_container {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0px;
        width: 100%;
     }
     .banner {
        display: block;
        align-items: center;
        justify-content: center;
      }
      .banner  img{
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          opacity: 2;
      }
      .hero_content {
          display: block;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 20%;
          left: 24%;
      }
      .hero_txt {
        display: block;
        font-size: 2rem;
        line-height: 1em;
        letter-spacing: 1.8px;
        color: #000033;
        position: relative;
        left: 7%;
    } 
    button {
        border: none;
        width: 100px;
        padding: 10px;
        font-size: 12px;
        font-weight: 700;
    }
    .main {
        display: block;
        align-items: center;
        position: relative;
        top: 460px;
    }
    .main_container {
        background-image: url(../images/img2.jpg);
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -400px;
        height: 380px;
        width: 100%;
        border: none;
    }
    .main_content {
        position: relative;
        top: -10px;
    }
    .main_text {
        display: flex;
        width: 120%;
        position: relative;
        top: -10px;
        font-size: 28px;
    }
    hr{
        position: relative;
        top: -2px;
        right: 90px;
        width: 58px;
    }
    .content_text p {
        position: relative;
        letter-spacing: 1px;
        font-size: 18px;
        font-weight: 530;
    }
    
    .btn3 {
        width: 60%;
    }
    .main_img1 {
        display: none;
    }
    .main_img2 {
       display: none;
    }
    .alpha_container {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -430px;
        width: 100%;
    }
    .alpha_content {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .alpha_img img {
        width: 400px;
        height: 240px;
    }
    
    .alpha_text {
        position: relative;
        left: 50px;
        top: -27px;
        margin-right: 120px;
    }
    
    .alpha_text h3{
        display: block;
        position: relative;
        top: -8px;
        font-size: 26px;
        line-height: 1em;
    }
    .alpha_text p {
        position: relative;
        letter-spacing: 1px;
        font-size: 18px;
        font-weight: 500;
    }
    .info_container {
        display: block;
        position: relative;
        top: -80px;
    }
    .info_content {
        width: 99%;
    }
    .info_content p {
        position: relative;
        left: 12px;
        padding: 12px 0px;
        font-size: 16px;
        font-weight: 400;
    }
    .cards_container {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 110%;
        background-image: url(../images/cards_img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 20px;
        border-radius: 0px;
        padding: 40px;
    }
    
    .cards_content {
        display: block;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .cards {
       display: block;
       align-items: center;
       justify-content: space-evenly;
       background-color: aliceblue;
       width: 250px;
       height: 250px;
       margin: 14px;
       padding: 20px;
       border-radius: 10px;
    }
    
    .cards_img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 40px;
        height: 40px;
    }
    
    .cards_heading {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 28px;
        font-size: 17px;
    }
    .cards p {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 32px;
        margin-left: 60px;
        margin-right: 50px;
        font-size: 14px;
    }
    .btn4 {
       display: block;
       align-items: center;
       justify-content: center;
       position: relative;
       top: 48px;
       background-color: #000033;
       color: aliceblue;
       text-transform: uppercase;
       font-size: .8rem;
    }
    .btn5 {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 48px;
        background-color: #da2626;
        color: aliceblue;
        text-transform: uppercase;
        font-size: .8rem;
    }
    .grid_container {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -30px;
        width: 100%;
    }
    .grid_text {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .grid_header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4px;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    .grid_text p {
        margin: 10px 60px;
    }
    .main_grid {
        position: relative;
        top: 40px;
        display: block;
    }
    .grid_content {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    }
    .grid{
        display: block;
        width: 350px;
        height: 330px;
        margin-top: 40px;
    }
    
    .grid_img {
        margin: 12px;
        position: relative;
        left: 10px;
    }
    
    .grid h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    .grid p {
        margin-left: 80px;
        margin-right: 40px;
        padding: 10px;
    }
    
    .grid_btn {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 12px;
        background-color: #000033;
        color: aliceblue;
        text-transform: uppercase;
        font-size: .8rem;
    }
    .comment_container {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 20px;
        width: 100%;
    }
    
    .comment_txt h3 {
        font-size: 24px;
        font-weight: 800;
        letter-spacing: .5px;
        padding: 5px;
    }
    
    .comment_grids {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .comment_content {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 6px;
    }
    
    .comment {
        display: block;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 340px;
        background-color: whitesmoke;
        padding: 20px;
        margin-top: 30px;
    }
    .comment p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 13px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .quotes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 26px;
        position: relative;
        top: 12px;
    }
    .update_container {
        display: block;
        position: relative;
        top: 80px;
        width: 100%;
        padding-bottom: 222px;
    }
    .update_btn {
        position: relative;
        top: 36%;
        width: 40%;
        padding: 12px;
        letter-spacing: .8px;
    }

    .footer_section {
      display: block;
      height: 80vh;
      position: relative;
      top: 40px;
    }
    .footer_content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer_grid {
        display: none;
    }
    .rights {
        display: flex;
        width: 100%;
        color: grey;
        font-size: 15px;
        text-decoration: underline;
        position: absolute;
        right: 250px;
        top: 500px;
        line-height: .2em;
    }
    
}