* {
    line-height: 1.2rem;
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Montaga', serif;
}
.nav_container {
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #da2626;
    position: fixed;
    z-index: 99;
}
.icon1 {
    display: flex;
    float: left;
    background-color: #000033;
    color: white;
    z-index: 1;
    position: relative;
    top: 0;
    width: 50px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
}
.icon2 {
    clear: left;
    display: flex;
    float: right;
    background-color: #000033;
    position: relative;
    top: -60px;
    color: white;
    width: 50px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
}

.navbar {
    display: flex;
    position: relative;
    top: -16px;
    width: 60%;
}
.menu_item {
    display: flex;
    align-items: center;
}
.nav_list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 40px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 4px;
}
.list_link {
    color: aliceblue;
    text-decoration: none;
    flex: 1;
    height: 20px;
    letter-spacing: 1.7px;
}
.list_link:hover {
    color: #4747c2;
    text-decoration: overline;
    margin-bottom: 10px;
}
.nav_brand {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #da2626;
    border-radius: 50%;
    padding: 40px;
    color: aliceblue;
    font-size: 18px;
    border-bottom: 2px solid aliceblue;
}
.text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 1px;
    padding: 2px;
}
.hero_container {
   display: block;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 100%;
}
.banner {
  display: block;
  align-items: center;
  justify-content: center;
}
.banner  img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 2;
}
.hero_content {
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 46%;
    left: 26%;
}

.hero_txt {
    display: block;
    font-size: 2.9rem;
    line-height: 1em;
    letter-spacing: 1.8px;
    color: #000033;
} 

.buttons {
    position: relative;
    left: 2px;
    padding-top: 30px;
}

button {
    border: none;
    width: 120px;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}

.btn1 {
  background-color: #da2626;
  color: aliceblue;
}
.btn2 {
  color: #000033;
  padding-left: 10px;
}
.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -80px;
    height: 330px;
    width: 60%;
    border: 3px solid #7373df;
    border-radius: 50px;
    background-color: white;
}
.main_content {
    display: flex;
    align-items: center;
}

.content_text {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 90px;
}

.main_text {
    display: flex;
    position: relative;
    top: -30px;
    font-size: 27px;
}
hr{
    position: relative;
    top: -20px;
    right: 165px;
    width: 45px;
    border: none;
    border-radius: 20%;
    background-color: #da2626;
    padding: 2.4px;
}
.content_text p {
    position: relative;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
}

.btn3 {
    color: aliceblue;
    background-color: #000033;
    margin-top: 20px;
    padding: 15px;
    text-transform: uppercase;
    font-size: .8rem;
}
.main_img1 {
    position: relative;
    width: 300px;
    height: 180px;
    top: 13px;
    left: -14px;
    z-index: 2;
}
.main_img2 {
    position: relative;
    width: 160px;
    height: 90px;
    top: 10px;
    left: -30px;
}

.alpha_container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 400px;
    position: relative;
    top: -38px;
}

.alpha_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.alpha_img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    position: relative;
    left: 10px;
}
.alpha_img img {
    width: 500px;
    height: 340px;
}

.alpha_text {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -80px;
    margin-left: 40px;
    margin-right: 50px;
}

.alpha_text h3{
    display: block;
    position: relative;
    top: -11px;
    font-size: 24px;
    line-height: 1em;
}

.span_txt {
    margin: 4px;
}
.alpha_text p {
    position: relative;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
}

.info_container {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 55px;
    width: 90%;
}
.info_content {
    display: block;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.info_content h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 1px;
}
.info_content p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 400;
}

.cards_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94%;
    height: 430px;
    background-image: url(../images/cards_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 20px;
    border-radius: 130px;
}

.cards_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards {
   display: block;
   align-items: center;
   justify-content: space-evenly;
   background-color: aliceblue;
   width: 250px;
   height: 250px;
   margin: 14px;
   padding: 20px;
   border-radius: 10px;
}

.cards_img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
}

.cards_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 28px;
    font-size: 17px;
}
.cards p {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 32px;
    margin-left: 60px;
    margin-right: 50px;
    font-size: 14px;
}
.btn4 {
   display: block;
   align-items: center;
   justify-content: center;
   position: relative;
   top: 48px;
   background-color: #000033;
   color: aliceblue;
   text-transform: uppercase;
   font-size: .8rem;
}
.btn5 {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 48px;
    background-color: #da2626;
    color: aliceblue;
    text-transform: uppercase;
    font-size: .8rem;
}